.btn {
  display: inline-block;

  padding: .5rem 1rem;

  border-radius: 5px;

  font-size: .8em;
  text-transform: uppercase;

  letter-spacing: 1px;
  &--primary {
    box-shadow: inset 0 0 0 1px var(--brand-primary);

    color: var(--brand-primary);

    transition: box-shadow .3s, color .3s;
    &:hover {
      box-shadow: inset 0 0 0 25px var(--brand-primary);

      color: #ffffff;
    }
  }
  &--secondary {
    background-color: var(--brand-primary);

    border-color: var(--brand-primary);

    color: #ffffff;
  }
  &--sm {
    padding: .2rem .5rem;
  }
  &--lg {
    padding: 1rem 2rem;
  }
}
