.card {
  background-color: #ffffff;
  box-shadow: 0 15px 40px rgba(222, 222, 222, .1);

  border-radius: 30px;
}

.card__body {
  @include up(800) {
    padding: 2rem 4rem;
  }  padding: 1.5rem 2rem;
}

.card--lg {
  .card__body {
    @include up(800) {
      padding: 4rem 5rem;
    }
  }
}
