.game-match {
  font-size: 1.1em;
  &__item {
    display: grid;

    align-items: center;
    gap: 1em;
  }
}

.set-score {
  padding-top: .5em;
  padding-bottom: .5em;

  background-color: var(--brand-primary);

  text-align: center;

  &--win,
  &--point {
    font-weight: 600;
  }

  &--current {
    background-color: var(--brand-secondary);
  }


  &--point {
    background-color: var(--gray-lighter);
  }
}

@include up(650) {
  .game-match {
    &__item {
      grid-template-columns: 160px repeat(6, 50px);
    }
    &__player {
      padding-top: .5em;
      padding-bottom: .5em;

      border-right: 1px solid #000000;
    }
  }
  .set-score {
    &--top {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    &--bottom {
      border-bottom-right-radius: 15px;

      border-bottom-left-radius: 15px;
    }
  }
}
@include down(649) {
  .game-match {
    display: grid;

    grid-template-columns: 1fr;
    gap: 1rem;
    &__item {
      gap: .5rem;
      grid-template-columns: repeat(6, 1fr);
    }
    &__player {
      margin-bottom: .5rem;

      grid-column: span 6;
    }
  }
  .set-score {
    padding: .5rem;

    border-radius: 15px;
  }
}
