.label {
  display: inline-block;

  padding: .6em 2em;

  font-size: .6em;
  font-weight: 800;
  text-transform: uppercase;
  &--default {
    background-color: var(--bg-lighter);

    border-radius: 30px;
  }
}
