.page-layout {
  background-color: --gray-light;
}

.page-layout__header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #ffffff;

  text-align: center;
}

.page-layout__main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
