.player {
  @include up(501) {
    &__name {
      max-width: 150px;
    }
  }

@include down(700) {
    flex-direction: column;
    &__avatar {
      order: 1;
    }
    &__info {
      order: 2;
    }
    &--inverse {
      justify-content: end;
    }
  }  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &__name {
    max-width: 100px;

    overflow: hidden;

    font-size: 1.4em;
    font-weight: 600;

    text-overflow: ellipsis;
  }
  &__avatar {
    flex-shrink: 0;
  }

  &--inverse {
    .player {
      &__avatar {
        order: 1;
      }
      &__name {
        justify-self: end;
      }
      &__info {
        order: 2;
      }
    }
  }
}
