.player {
  @include up(500) {
    &__name {
      max-width: 150px;
    }
  }

@include up(700) {
    &--inverse {
      .player {
        &__name {
          justify-self: end;
        }
      }
    }
  }

@include down(699) {
    flex-direction: column;
    &__avatar {
      order: 1;
    }
    &__info {
      order: 2;
    }
    &--inverse {
      justify-content: end;
    }
    &__name {
      justify-self: center;
    }
  }  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &__name {
    max-width: 120px;

    overflow: hidden;

    font-size: 1.4em;
    font-weight: 600;

    text-overflow: ellipsis;
  }
  &__avatar {
    flex-shrink: 0;
  }

  &--inverse {
    .player {
      &__avatar {
        order: 1;
      }

      &__info {
        order: 2;
      }
    }
  }
}
