@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1,
.h1,
%h1 {
  font-size: 60px;
  font-weight: 600;
}

.text-divide {
  color: var(--brand-primary);
  font-size: 3rem;
}
