.grid-list-games {
  @include up(1300) {
    grid-template-columns: repeat(2, 1fr);
  }  display: grid;

  gap: 1.5rem;
}

.grid-players {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 1em;
  .player {
    flex: 1;
  }
}

.grid-game-match {
@include up(1200) {
    grid-template-columns: repeat(3, 1fr);
    &__score {
      grid-column: span 2;
    }
  }

  display: grid;

  margin-right: auto;
  margin-left: auto;

  gap: 2rem 7rem;
  &__chrono {
    display: flex;

    align-items: center;
    justify-content: center;
  }
}
