:root {
  --stack-gap: 3.5rem;
  --section-py: 3rem;
  --page-py: 3rem;
}

%stack {
  display: grid;

  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: var(--stack-gap);

  & > * {
    min-width: 0;
  }
}

body {
  background-color: var(--gray-lighter);
}

.stack-section {
  @extend %stack;
  --stack-gap: 3.5rem;
}

.stack-inner {
  @extend %stack;
  --stack-gap: 2.5rem;

  &--2 {
    --stack-gap: 1rem;
  }
}

.stack-text {
  @extend %stack;
  --stack-gap: 1.5rem;
  &--2 {
    --stack-gap: .8rem;
  }
}



.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.flex-between {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .5rem;
}
